In [1]:
#packages
import pandas as pd


###Reading in Flu text files, making them csv files and re-labeling them

	- not related vs related
			- related removed because most related appear afterward in other 2 datasets

	- infection vs awareness
			- infection removed because infection its covered by self vs others after

	- self vs others
			- changed others label from 0 to 2 and self label from 1 to 3
  
Final labels:

- 0: not related
- 1: awareness
- 2: others
- 3: self

### Working with 2009 Flu Data

In [9]:
RvNR2009 = pd.read_csv (r'/content/RelatedVsNotRelated2009TweetIDs.txt', delimiter = '	')
RvNR2009.columns = ['Tweet ID', 'Label']
RvNR2009['Disease'] = 'Influenza' 
onlyNR = RvNR2009.query("Label == 0")

In [10]:
AvI2009 = pd.read_csv (r'/content/AwarenessVsInfection2009TweetIDs.txt', delimiter = '	')
AvI2009.columns = ['Tweet ID', 'Label']
AvI2009['Disease'] = 'Influenza' 
onlyA = AvI2009.query("Label == 1")

In [11]:
SvO2009 = pd.read_csv (r'/content/SelfVsOthers2009TweetIDs.txt', delimiter = '	')
SvO2009.columns = ['Tweet ID', 'Label']

SvO2009['Disease'] = 'Influenza' 
for index, row in SvO2009.iterrows():
  if (row["Label"]) == 0:
    SvO2009.at[index, "Label"] = 2
  elif (row["Label"]) == 1:
    SvO2009.at[index, "Label"] = 3

In [28]:
final2009 = pd.concat([onlyNR, onlyA, SvO2009], ignore_index=True)
final2009 = final2009.drop_duplicates(ignore_index=True, keep='last')
swap_list = ['Tweet ID', 'Disease', 'Label']
final2009 = final2009.reindex(columns=swap_list)

In [29]:
final2009.to_csv (r'/content/final2009.csv', index=None)
final2009

        Tweet ID    Disease  Label
0     4063122008  Influenza      0
1     4063124211  Influenza      0
2     4063623202  Influenza      0
3     4063915008  Influenza      0
4     4066673901  Influenza      0
...          ...        ...    ...
5076  5126038412  Influenza      2
5077  5410094700  Influenza      2
5078  4648001506  Influenza      2
5079  5291655108  Influenza      2
5080  5061012907  Influenza      2

[5081 rows x 3 columns]

###Working with 2012 Flu Data

In [15]:
RvNR2012 = pd.read_csv (r'/content/RelatedVsNotRelated2012TweetIDs.txt', delimiter = '	')
RvNR2012.columns = ['Tweet ID', 'Label']
RvNR2012['Disease'] = 'Influenza' 
onlyNR = RvNR2012.query("Label == 0")

In [16]:
AvI2012 = pd.read_csv (r'/content/AwarenessVsInfection2012TweetIDs.txt', delimiter = '	')
AvI2012.columns = ['Tweet ID', 'Label']
AvI2012['Disease'] = 'Influenza' 
onlyA = AvI2012.query("Label == 1")

In [17]:
SvO2012 = pd.read_csv (r'/content/SelfVsOthers2012TweetIDs.txt', delimiter = '	')
SvO2012.columns = ['Tweet ID', 'Label']

SvO2012['Disease'] = 'Influenza' 
for index, row in SvO2012.iterrows():
  if (row["Label"]) == 0:
    SvO2012.at[index, "Label"] = 2
  elif (row["Label"]) == 1:
    SvO2012.at[index, "Label"] = 3

In [30]:
final2012 = pd.concat([onlyNR, onlyA, SvO2012], ignore_index=True)
final2012 = final2012.drop_duplicates(ignore_index=True, keep='last')
swap_list = ['Tweet ID', 'Disease', 'Label']
final2012 = final2012.reindex(columns=swap_list)

In [31]:
final2012.to_csv (r'/content/final2012.csv', index=None)
final2012

        Tweet ID    Disease  Label
0     4063122008  Influenza      0
1     4063124211  Influenza      0
2     4063623202  Influenza      0
3     4063915008  Influenza      0
4     4066673901  Influenza      0
...          ...        ...    ...
3987  4812604309  Influenza      3
3988  4812950000  Influenza      2
3989  4813405606  Influenza      3
3990  4814093314  Influenza      2
3991  4814312602  Influenza      3

[3992 rows x 3 columns]

###Combining 2009 and 2012 Flu Data

In [32]:
all_flu = pd.concat([final2009, final2012], ignore_index=True)
all_flu = all_flu.drop_duplicates(ignore_index=True, keep='last')

In [33]:
all_flu.to_csv (r'/content/all_flu.csv', index=None)
all_flu

        Tweet ID    Disease  Label
0     6003319713  Influenza      3
1     6002055513  Influenza      3
2     5994839708  Influenza      2
3     5991525204  Influenza      3
4     5989718714  Influenza      2
...          ...        ...    ...
6163  4812604309  Influenza      3
6164  4812950000  Influenza      2
6165  4813405606  Influenza      3
6166  4814093314  Influenza      2
6167  4814312602  Influenza      3

[6168 rows x 3 columns]

###Working with phm2017 data: change to csv 

Labels:
* 0: non-health
* 1: awareness
* 2: other-mention
* 3: self-mention

In [35]:
#phm2017 read in and change to csv

read_file = pd.read_csv ('/content/PHM2017.txt', delimiter = '	')
read_file.columns = ['Tweet ID', 'Disease', 'Label']
read_file.to_csv (r'/content/PHM2017.csv', index=None)

In [36]:
read_file

                Tweet ID    Disease  Label
0     811746810733723649  alzheimer      1
1     902649153792098304  alzheimer      1
2     811695298359783424  alzheimer      0
3     811696543501864961  alzheimer      1
4     813212976257896449  alzheimer      1
...                  ...        ...    ...
7186  813207357689892864     stroke      3
7187  903019970292060169     stroke      0
7188  902668028055175168     stroke      1
7189  902669513962991616     stroke      0
7190  813196462196658177     stroke      0

[7191 rows x 3 columns]