In [1]:
import pandas as pd
# importing libraries and packages
import snscrape.modules.twitter as sntwitter

# Scraping Tweet Data

We have the tweet ids for the tweets we are looking for but not the content of the tweet.

To receive the content of the tweet, we are going to be scraping the data as getting access to the API is not going to happen in time (Thanks Elon).

We can use the [snscrape]("https://github.com/JustAnotherArchivist/snscrape") library to scrape the data. 

First, we will do this with the PHM_2017 data so let's read in the CSV.

In [2]:
df = pd.read_csv("new_data/all_flu.csv")
df.head()

     Tweet ID    Disease  Label
0  6003319713  Influenza      3
1  6002055513  Influenza      3
2  5994839708  Influenza      2
3  5991525204  Influenza      3
4  5989718714  Influenza      2

In [3]:
# get list of ids
ids = list(df["Tweet ID"])

Now that we have the ids, we can now scrape a few at a time. We need to be careful to only scrape a few at a time so as to not overwhelm the servers. Also, Twitter on guest client block multiple pagination. Sometimes in one query there is possible to call for 3 paginations. To avoid this limitation divide scrapping period for smaller parts.

In [4]:
# Creating list to append tweet data 
tweets_list1 = []

count = 0
for j in ids:
    # Using TwitterSearchScraper to scrape data and append tweets to list
    try:
        for i,tweet in enumerate(sntwitter.TwitterTweetScraper(j).get_items()): #declare a username
            if hasattr(tweet, 'rawContent'):
                tweets_list1.append([tweet.id, tweet.rawContent, tweet.user.username]) #declare the attributes to be returned
            if count % 500 == 0:
                print("Processed " + str(count) + " tweets");
            count +=1
    except:
        continue
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Tweet Id', 'Text', 'Username'])
tweets_df1.head()

Processed 0 tweets
Processed 500 tweets
Processed 1000 tweets
Processed 1500 tweets
Processed 2000 tweets
Processed 2500 tweets
Processed 3000 tweets
Processed 3500 tweets
Processed 4000 tweets

     Tweet Id                                               Text     Username
0  6003319713  Getting a little fed up with having (Insert Ra...       zenemu
1  5991525204  Just getting over swine flu.  It must have bee...  writerbrock
2  5989718714  this flu season is a horrible. everyone is get...         olow
3  5986621813  so glad @blakewsmith won't be getting the pig ...  leighwsmith
4  5986140306  @saracrow Luck luck. I got mine Friday.  My ar...     BoyceDan

In [5]:
tweets_df1.to_csv("tweets/all_flu_tweets.csv")