In [1]:
import pandas as pd
# importing libraries and packages
import snscrape.modules.twitter as sntwitter

# Scraping Tweet Data

We have the tweet ids for the tweets we are looking for but not the content of the tweet.

To receive the content of the tweet, we are going to be scraping the data as getting access to the API is not going to happen in time (Thanks Elon).

We can use the [stweet]("https://github.com/markowanga/stweet") library to scrape the data. 

First, we will do this with the PHM_2017 data so let's read in the CSV.

In [2]:
df = pd.read_csv("new_data/PHM2017.csv")
df.head()

             Tweet ID    Disease  Label
0  811746810733723649  alzheimer      1
1  902649153792098304  alzheimer      1
2  811695298359783424  alzheimer      0
3  811696543501864961  alzheimer      1
4  813212976257896449  alzheimer      1

In [3]:
# get list of ids
ids = list(df["Tweet ID"])

Now that we have the ids, we can now scrape a few at a time. We need to be careful to only scrape a few at a time so as to not overwhelm the servers. Also, Twitter on guest client block multiple pagination. Sometimes in one query there is possible to call for 3 paginations. To avoid this limitation divide scrapping period for smaller parts.

In [10]:
# Creating list to append tweet data 
tweets_list1 = []

count = 0
for j in ids:
    # Using TwitterSearchScraper to scrape data and append tweets to list
    try:
        for i,tweet in enumerate(sntwitter.TwitterTweetScraper(j).get_items()): #declare a username
            if hasattr(tweet, 'rawContent'):
                tweets_list1.append([tweet.id, tweet.rawContent, tweet.user.username]) #declare the attributes to be returned
            if count % 500 == 0:
                print("Processed " + str(count) + " tweets");
            count +=1
    except:
        continue
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Tweet Id', 'Text', 'Username'])
tweets_df1.head()

Processed 0 tweets
Processed 500 tweets
Processed 1000 tweets
Processed 1500 tweets
Processed 2000 tweets

Unavailable user in card on tweet 902609314761895936
Unavailable user in card on tweet 902609314761895936
User 755334087683018753 not found in user refs in card on tweet 902609314761895936
User 755334087683018753 not found in user refs in card on tweet 902609314761895936
Unavailable user in card on tweet 813025263311290368
Unavailable user in card on tweet 813025263311290368
User 755334087683018753 not found in user refs in card on tweet 813025263311290368
User 755334087683018753 not found in user refs in card on tweet 813025263311290368
Unavailable user in card on tweet 905542636999671808
Unavailable user in card on tweet 905542636999671808
User 755334087683018753 not found in user refs in card on tweet 905542636999671808
User 755334087683018753 not found in user refs in card on tweet 905542636999671808
Unavailable user in card on tweet 905780206262243330
Unavailable user in card on tweet 905780206262243330
User 755334087683018753 not found in user refs in card on tweet 905780206262243330
User 755334087683018753 not found in user refs in card on tweet 905780206262243330

Processed 2500 tweets

Unavailable user in card on tweet 902615347949338624
Unavailable user in card on tweet 902615347949338624
User 755334087683018753 not found in user refs in card on tweet 902615347949338624
User 755334087683018753 not found in user refs in card on tweet 902615347949338624
Unavailable user in card on tweet 903001387755331586
Unavailable user in card on tweet 903001387755331586
User 755334087683018753 not found in user refs in card on tweet 903001387755331586
User 755334087683018753 not found in user refs in card on tweet 903001387755331586
Unavailable user in card on tweet 905784731727536128
Unavailable user in card on tweet 905784731727536128
User 755334087683018753 not found in user refs in card on tweet 905784731727536128
User 755334087683018753 not found in user refs in card on tweet 905784731727536128

Processed 3000 tweets
Processed 3500 tweets

Unavailable user in card on tweet 902725189464715266
Unavailable user in card on tweet 902725189464715266
User 2446126290 not found in user refs in card on tweet 902725189464715266
User 2446126290 not found in user refs in card on tweet 902725189464715266

Processed 4000 tweets
Processed 4500 tweets
Processed 5000 tweets
Processed 5500 tweets

,Tweet Id,Text,Username
0,811746810733723649,New Alzheimer Society resources to support a m...,CAOT_ACE
1,813212976257896449,What to Know About Thyroid and Alzheimer's htt...,yellowclaire
2,811773376653979648,Hippocampus ! If this part are damage we could...,_stellaa7
3,902649330645000192,How tackling hearing loss could reduce your ri...,Alzheimerduff
4,905510725791207425,Finding the fun in the fog of Alzheimerâ€™s\nvia...,Watersun555

In [ ]:
tweets_df1.to_csv("tweets/phm2017